@import "../../globals.scss";

.Timetable {
  font-size: 0.8rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #85c1f9;

    tr {
      border: solid 2px #f8c0e3;
      
    }

    td {
      border: dotted 2px #f8c0e3;
      padding: 15px;
      text-align: center;
      height: 15px;
    }

    th {
      width: 5rem !important;
      max-width: 5rem !important;
    }
  }

  &__head {
    background-color: #bbe2ff;
    text-transform: lowercase;
    padding: 10px;
  }

  &__cell--event {
    background-color: #f8c0e3;
    padding: 10px;
  }

  &__cell--time {
    border-bottom: solid 2px #ffffff !important;
  }

  &__cell--multiple-events {
    background-color: rgba($theme--dark, 0.31);
    color: $theme--dark;
    font-weight: bold;
  }
}
